.nav-bar{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    position: fixed;
    top: 0;
    width: 19%;
    height: 100%;
    z-index: 1030;
}

.nav-bar .nav-bar-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 33px;
    width: 252px;
}

.nav-bar .nav-bar-list .nav-bar-item{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 10 15 10 15;
}

.nav-bar .nav-bar-list .nav-bar-item .nav-bar-link{
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    Font-family: Montserrat, sans-serif, Arial;
    Font-weight: 100;
    Font-style: Medium;
    Font-size: 14px;
    color: #1E0D03;  
    Width: 240px;
    border-radius: 10px;
    
    
}

.nav-bar .nav-bar-list .nav-bar-item .nav-bar-link:hover{
    background-color: #FFB800;
    color: #fff;
}

.nav-bar img{
    padding-left: 33px;
    padding-top: 17px;
    padding-bottom: 40px;
    padding-right: 155px;
}


.nav-bar .nav-bar-list .nav-bar-item i{
    position: absolute;
    padding-left: 25px;
    padding-top: 17px;
}

.nav-bar .nav-bar-list .nav-bar-item span{
    padding-left: 60px;
}


