/* Table */
.bang1-event .table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.bang1-event .table tr:nth-child(even) {
    background-color: #F7F8FB;
}

.bang1-event .table th {
    background-color: #F1F4F8;
    color: black;
    height: 40px;
    padding: 0 20px 0 20px;
}

.bang1-event .table td {
    height: 40px;
    text-align: center;
}

/* Pagination */
.bang1-event .pagination {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Đã sử dụng */
.bang1-event .used{
    color: #919DBA;  
    outline-offset: -10px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .used:before {
    border: 3px solid #919DBA;
    border-radius: 5px;
    top: 5px;
    right: 40px;
    bottom: 8px;
    left: 30px;      
}

.bang1-event .used:before{
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 8px;
}

.bang1-event .notUse{
    color: #03AC00;  
    outline-offset: -10px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .notUse:before {
    border: 3px solid #03AC00;
    border-radius: 5px;
    top: 5px;
    right: 40px;
    bottom: 8px;
    left: 30px;    
}

.bang1-event .notUse:before{
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 13px;
}

.bang1-event .expired{
    color: #FD5959;  
    outline-offset: -10px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .expired:before {
    border: 3px solid #FD5959;
    border-radius: 5px;
    top: 5px;
    right: 40px;
    bottom: 8px;
    left: 30px;     
}

.bang1-event .expired:before{
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 13px;
}

/* Đang áp dụng */
.bang1-event .apply{
    color: #03AC00;  
    outline-offset: -10px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .apply:before {
    border: 3px solid #03AC00;
    border-radius: 5px;
    top: 5px;
    right: 50px;
    bottom: 8px;
    left: 45px;    
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 13px;
}

/* Tắt */
.bang1-event .not-apply{
    color: #FD5959;  
    outline-offset: -10px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .not-apply:before {
    border: 3px solid #FD5959;
    border-radius: 5px;
    top: 5px;
    right: 50px;
    bottom: 8px;
    left: 45px;    
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 13px;
}

/* Đang áp dụng */
.bang1-event .apply{
    color: #03AC00;  
    outline-offset: -10px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .apply:before {
    border: 3px solid #03AC00;
    border-radius: 5px;
    top: 5px;
    right: 0px;
    bottom: 8px;
    left: -10px;    
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 10px;
}

/* Tắt */
.bang1-event .not-apply{
    color: #FD5959;  
    outline-offset: -15px;
    padding-bottom: 7px;
    position: relative;
}

.bang1-event .not-apply:before {
    border: 3px solid #FD5959;
    border-radius: 5px;
    top: 5px;
    right: 35px;
    bottom: 8px;
    left: 25px;    
    content: "\2022";
    font-size: 20px;
    position: absolute;
    text-align: left; 
    padding-left: 10px;
}
