.home-page {
    justify-content: space-between;
    list-style: none;
    margin-left: 20px;
    Width: 80%;   
    padding-left: 15%;
    padding-top: 17px; 
    background-color: #f6f5f5;
}

.home-page ul{
    list-style-type: none;
    padding: 0;
    display: block; 
}

.home-page li::before{
    content: none;
}

.home-page li{
    list-style-type: none;
}

.home-page .chart{
    border-radius: 20px;
    height: 100%;
    background-color: #ffff;
    padding: 7px 20px 7px 20px;
    margin-top: 80px;
    margin-left: 10px;
    width: 100%;
}

