.manage-page {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin: horizontal;
    Width: 100%;   
    padding-left: 20%;
    padding-top: 17px; 
}

.manage-page .form-control {
    width: 23%;
    height: 100%;
    font-style: italic;
    border: 1px solid#EDE6E6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 7px 0 7px 10px;
    border-radius: 8px;
    background-color: #EDE6E6;
    background-image: url("../assets/icon/magnifying-glass-solid.svg");    
}