.setting-page {
    justify-content: space-between;
    list-style: none;
    margin-left: 20px;
    padding-left: 15%;
    padding-top: 17px;
    background-color: #f6f5f5;
}

/* Table-page */
.setting-page .table-page {
    border-radius: 20px;
    height: 100%;
    background-color: #ffff;
    padding: 7px 20px 7px 20px;
    margin-top: 80px;
    margin-left: 10px;
}

/* Search */
.setting-page .table-page .form-control {
    width: 350px;
    height: 40px;
    font-style: italic;
    border: 1px solid#EDE6E6;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 7px 20px 7px 20px;
    border-radius: 8px;
}

.setting-page .table-page ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

.setting-page .table-page ul li {
    display: inline-block;
    padding: center;
    margin: 10px 10px;
}

/* Tabs: gói gia đình, gói sự kiện */
.setting-page .table-page .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FF993C !important;
    font-weight: 500;
}

.setting-page .table-page .ant-tabs-ink-bar{
    background-color: #FF993C;
}

.setting-page .table-page .ant-tabs-tab:hover {
    color: #FF993C;
    font-weight: 500;
}

.setting-page .table-page .ant-tabs-tab-btn:active:active {
    color: #FF993C;
    font-weight: 500;
}

.setting-page .table-page .ant-tabs-tab {
    color: #b1b1b1;
    font-size: 14px;
}

/* Button: lọc vé, xuất file */
.setting-page .feature{
    display: inline;
    float: right;
}

.setting-page .feature .ant-btn{
    border-color: #FF993C;
    color: #FF993C;
    font-weight: 500;
}

.setting-page .feature .ant-btn:hover{
    box-shadow: #FF993C 0px 3px 10px 0px;
}

