.tickercheck-page{
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin: horizontal;
    Width: 100%;   
    padding-left: 15%;
    padding-top: 17px; 
    background-color: #f6f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin: horizontal;
    Width: 100%;   
    padding-left: 15%;
    padding-top: 17px; 
}

.tickercheck-page {
    list-style-type: none;
    width: 18%;
    height: 100%;
    font-style: italic;
    border: 1px solid#EDE6E6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 7px 0 7px 10px;
    border-radius: 8px;
    background-color: #EDE6E6;
    background-image: url("http://www.w3.org/2000/svg");    
}

.tickercheck-page{
    list-style-type: none;
    padding: 0;
    display: block; 
}

.tickercheck-page li::before{
    content: none;
}

.tickercheck-page .nav-bar-item i{
    color: #1E0D03;  
}

.tickercheck-page .search .dflex{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin: horizontal;
    Width: 100%;   
    padding-left: 15%;
    padding-top: 17px; 
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th{
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(odd){background-color: #F7F8FB;}

.table th{
    background-color: #F1F4F8;
    color: black;
}
    