.tickercheck-page {
    justify-content: left;
    list-style: none;
    margin-left: 20px; 
    padding-left: 15%;
    padding-top: 17px; 
    background-color: #f6f5f5;
    display: flex;
}

/* Table-page */
.tickercheck-page .table-page{
    border-radius: 20px;
    height: 100%;
    width: 73%;
    background-color: #ffff;
    padding: 7px 20px 7px 20px;
    margin-left: 10px;
    margin-right: 0;
}

/* Search */
.tickercheck-page .table-page .form-control {
    list-style-type: none;
    width: 350px;
    height: 40px;
    font-style: italic;
    border: 1px solid#EDE6E6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 7px 20px 7px 20px;
    border-radius: 8px;
}

.tickercheck-page .table-page ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

.tickercheck-page .table-page ul li {
    display: inline-block;
    padding: center;
    margin: 10px 10px;
}

/* Tabs: gói gia đình, gói sự kiện */
.tickercheck-page .table-page .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FF993C !important;
    font-weight: 500;
}

.tickercheck-page .table-page .ant-tabs-ink-bar{
    background-color: #FF993C;
}

.tickercheck-page .table-page .ant-tabs-tab:hover {
    color: #FF993C;
    font-weight: 500;
}

.tickercheck-page .table-page .ant-tabs-tab-btn:active:active {
    color: #FF993C;
    font-weight: 500;
}

.tickercheck-page .table-page .ant-tabs-tab {
    color: #b1b1b1;
    font-size: 14px;
}

/* Button: Chốt đối soát */
.tickercheck-page .btn-control{
    display: inline;
    float: right;
}

.tickercheck-page .btn-control .ant-btn{
    border-color: #FF993C;
    background-color: #FF993C;
    color: #ffff;
    font-weight: 500;
}

.tickercheck-page .btn-control .ant-btn:hover{
    box-shadow: #FF993C 0px 3px 10px 0px;
}

/* Lọc vé */
.tickercheck-page .body-loc_ve{
    border-radius: 20px;
    width: 27%;
    background-color: #ffff;
    padding: 7px 20px 7px 20px;
    margin-left: 10px;
    margin-right: 0;
}

.tickercheck-page .body-loc_ve ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* list-style: none;
    padding: 0; */
}

.tickercheck-page .body-loc_ve ul li {
    padding: center;
    margin: 10px 10px 5px 5px;
    
}

.tickercheck-page .body-loc_ve p {
    font-size: 14px;
    font-weight: 500;
    color: #1E0D03;
    margin-bottom: 0;
}

.tickercheck-page .body-loc_ve .status-doi_soat{
    display: flex;
}

 .tickercheck-page .body-loc_ve .status-doi_soat .ant-radio-wrapper{
    padding: 10px 0 5px 20px;
}

.tickercheck-page .body-loc_ve .loai-ve-loc_ve{
    display: flex;
}

.tickercheck-page .body-loc_ve .loai-ve-loc_ve .ve_cong{
    padding: 0 0 10px 100px;
}
.tickercheck-page .body-loc_ve .since{
    display: flex;
}

.tickercheck-page .body-loc_ve .since .date{
    margin: 10px 0 10px 90px;
}

.tickercheck-page .body-loc_ve .to-date{
    display: flex;
}

.tickercheck-page .body-loc_ve .to-date .date{
    margin: 10px 0 10px 80px;
}

.tickercheck-page .body-loc_ve .btn-filter{
    border-color: #FF993C;
    color: #FF993C;
    font-weight: 500;
    width: 35%;
    margin: 10px auto;
}

.tickercheck-page .body-loc_ve .btn-filter:hover{
    box-shadow: #FF993C 0px 3px 10px 0px;
}








