.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    Width: 100%; 
    padding-top: 17px; 
    background-color: #f6f5f5;
    float: right;
}

.header .search{
    margin-left: 17%;
}

.header .form-control {
    list-style-type: none;
    width: 350px;
    height: 40px;
    font-style: italic;
    border: 1px solid#EDE6E6;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 7px 20px 7px 20px;
    border-radius: 8px;
}

.header ul{
    list-style-type: none;
    padding: 0;
    display: block; 
}


.header .nav-bar-item i{
    color: #1E0D03; 
    font-size: 20px; 
    padding-right: 20px;
}

.header .icon{
    display: flex;
    align-items: center;
}
    
.header img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}